html body {
	padding: 0;
	margin: 0;
	font-family: 'Exo', sans-serif;
	background: #f8ffe8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

/* navbar styling */
nav {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #39A160;
	position: fixed;
	top: 0;
	z-index: 2000;
	font-family: 'Exo', sans-serif;
}

nav .toggle a {
	line-height: 0;  /*removes bottom padding under the logo */
}

nav #logoWide {
	line-height: 0;
}

nav a {
	display: inline-block;
	vertical-align: top;
	margin-left: 7%;
}
nav a img {
	height: 58px;
	width: auto;
	border-radius: 4px;
}

ul {
	text-align: right;
	width: 65%;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
}

ul li {
	list-style: none;
	display: inline-block;
	padding: 17px 20px;
	cursor: pointer;
	-webkit-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

nav ul .tags a {
	text-decoration: none;
	color: #39A160;
	-webkit-transition: color 400ms linear;
	-moz-transition: color 400ms linear;
	-o-transition: color 400ms linear;
	transition: color 400ms linear;
}

nav ul .tags .scrolled {
	color: white;
}

ul li:hover {
	background-color: #39A160;
}

ul li:hover a {
	color: white;
}

.toggle {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	color: #39A160;
	font-size: 30px;
	display: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
}

.toggle a {
	margin-left: 5%;
}

.toggle i {
	float:right;
	padding: 14px 12px;
	cursor: pointer;
	color: #39A160;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
		visibility: hidden;
    }
    100% {
        opacity: 1;
		visibility: visible;
    }
}
@-moz-keyframes fade {
    0% {
        opacity: 0;
		visibility: hidden;
    }
    100% {
        opacity: 1;
		visibility: visible;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
		visibility: hidden;
    }
    100% {
        opacity: 1;
		visibility: visible;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
		visibility: hidden;
    }
    100% {
        opacity: 1;
		visibility: visible;
    }
}

.scrolledNav {
	background-color: #6FCA31;
	animation: fade 1s;
}

@media (max-width: 900px) and (min-width: 768px) {
	ul li:nth-of-type(even) {
		display: none;
	}
}

.slideimage {
    display: block;
    max-height: 38rem;
    width: auto;
    margin: auto;
	object-fit: cover;
	object-position: center;
}

#services {
	margin-top: 3rem;
	margin-bottom: 6rem;
	font-family: 'Exo', sans-serif;
}

.sectionHeader {
    font-weight: 700;
    border-bottom: solid 2px darkslategray;
	padding-top: 4rem;
    margin: 1em 3em;
	text-align: left;
}


#cardHolder {
    z-index:1900;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mycard {
    color: #004304;
    border: 3px solid #4c4c4c;
    border-radius: 2%;
    width: 290px;
    height: 400px;
    border: 3px solid #4c4c4c;
    border-radius: 15px;
	background-color: lightgrey;
	background: rgba(242,246,248,1);
	background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
	background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.mycard div div div h5 {
	font-size: 26px;
	font-weight: 700;
}
.mycard div div #cardText {
	color: black;
}
.mycard div div #cardText a {
	margin-left: 0;
	display: inline;
}

#services #cardHolder div .mycard div div div .circledNumber h5 {
    z-index: 999;
	font-weight: 400;
	padding-bottom: 0;
	margin-bottom: 0;
    background-color: whitesmoke;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#introLogCardHolder {
	font-family: 'Exo', sans-serif;
    height: 31rem;
    position: absolute;
    top: 4rem;
    left: 9rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 2%;
}

#introLogCardHolder #commerce .myButton {
	margin: 0.25rem 0.5rem;
    -moz-box-shadow: -13px 8px 12px -8px #3e7327;
    -webkit-box-shadow: -13px 8px 12px -8px #3e7327;
    box-shadow: -13px 8px 12px -8px #3e7327;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color: #77b55a;
	-webkit-transition: background 300ms linear;
	-moz-transition: background 300ms linear;
	-o-transition: background 300ms linear;
	transition: background 300ms linear;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
    text-shadow: 0 1px 4px #5b8a3c;
}

    #introLogCardHolder #commerce .myButton:hover {
        background: #39A160;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

#introLogCard {
    padding: 2%;
    display: inline-block;
    background-color: rgba(235, 235, 235, 0.75);
    border-radius: 10px;
    font-weight: 700;
}

/* about section styling */

#about .imgAndParag {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
#about div img {
	height: 25rem;
	width: auto;
	margin-bottom: 15px;
}
#about {
	text-align: center;
	margin-top: 6rem;
	padding-top: 4rem;
}
#aboutWrapper {
	display: inline-block;
	width: 80%;
	background: white;
}

#aboutWrapper .sectionHeader {
	text-align: left;
	padding-top: 0;
}

#about .imgAndParag .textAbout {
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	width: 325px;
	height: 300px;
	text-align: center;
}
hr.stylish {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.stylish:after {
    content: "✻";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#contactInfo {
	-webkit-box-shadow: 0px -7px 5px -5px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px -7px 5px -5px rgba(0,0,0,0.7);
	box-shadow: 0px -7px 5px -5px rgba(0,0,0,0.7);
	border-top: 3px solid black;
	margin-top: 3rem;
	position: relative;
	height: 36rem;
}

#contactInfo #headingAndCards h2 {
    font-weight: 700;
    border-bottom: solid 2px darkslategray;
    margin: 2rem 5rem 0 5rem;
    padding-left: 2%;
	text-align:left;
}

#bkg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;	
	background: url(bkg4.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	z-index: 2;
	}
	
#headingAndCards h1 {
	padding-top: 5rem;
}
#headingAndCards h1, #headingAndCards h5 {
	font-family: 'Exo', sans-serif;
	}
#headingAndCards h5 {
	padding: 0.5rem;
	background: rgba(235, 235, 235, 0.35);
	border-radius: 8px;
	font-size: 20px;
	margin: 0 5rem;
}

#headingAndCards h1 span {
	color: #39A160;
}

#cardWrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	z-index: 5;
}

.contactCard {
	height: 250px;
	width: 600px;
	margin: 1% 4%;
	background-color: rgba(15, 15, 15, 0.35);
    border-radius: 8px;
	text-align: center;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
    margin-bottom: 3em;
	z-index: 6;
}

.contactCard h3 a {
	color: lightblue;
}

.contactCard h3 {
	padding: 1% 3%;
}
@media (max-width: 830px) {
	#aboutWrapper {
	display: block;
	width: 100%;
	}	
	#aboutWrapper .sectionHeader {
	padding-top: 1.5rem;
	}
}


@media (max-width: 900px) {
	.slideimage {
    display: block;
	position: center;
    height: 23rem;
	width: 100%;
    margin: auto;
	margin-top:3.5rem;
	object-position: center;
    object-fit: cover;
	}
    #introLogCardHolder {
        height: 21rem;
    }
    #services {
        margin-top: 8%;
    }
}

@media (max-width: 750px) {
	.toggle {
    display: block;
    animation: fade 1s both;
	}
	.scrolledNav .toggle {
	background-color: #6FCA31;
	}
	.scrolledNav .toggle i {
	color: #fff;
	}
	#logoWide {
		display: none;
	}
	ul {
		position: absolute;
		right: 0;
		background: #fff;
		padding: 0;
		width: 65%;
		transform-origin: right;
		transform: translateX(100%);
		transition: 0.5s;
	}
	ul li {
		text-align: center;
		background: #fff;
		display: block;
		border: 1px solid #39A160;
		z-index: 25;
	}
	ul li a {
		display: block;
		Z-index: 30;
		color: #fff;
	}
	.scrolledNav ul li {
		background: #6FCA31;
	}
	.scrolledNav ul li:hover {
	background-color: #39A160;
}
	.active {
		transform: translateX(0%);
	}
	.slideimage {
    display: block;
	position: center;
    height: 18rem;
	width: 100%;
    margin: auto;
	margin-top:3.5rem;
	margin-bottom: 5rem;
	object-position: center;
    object-fit: cover;
	}

    #services {
        margin-top: 2rem;
    }
    #introLogCardHolder {
        height: 31rem;
        position: absolute;
        top: 70px;
        left: 2%;
    }

    #introLogCardHolder #commerce .myButton {
		margin: 0.25rem 0;
		fon-family: 'Arial';
		font-size: 11px;
	}
	#contactInfo {
	margin-top: 3rem;
	height: 35rem;
	}
	#contactInfo #bkg h1 {
		margin-top: 1rem;
		padding-top: 2.5rem;
	}
	#contactInfo h5 {
		padding-left:0;
		padding-right:0;
		margin: 0 2rem;
		font-size: 18px;
	}
    .contactCard h3 {
        font-size:20px;
    }
	#about {
		margin-top: 7rem;
		padding-top: 2rem;
	}
	#about .imgAndParag .textAbout {
	padding-top: 10px;
	height: 250px;
	}
}

/* video overlay DIV styling   */

#videoContainer {
	text-align: center;
	padding:0 10rem;
	position: relative;
	margin: 3rem 0;
	font-family: 'Exo', sans-serif;
}

video {
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
}

#videoOverlay1 {
	position:absolute;
	top: 0;
	left: 10rem;
	bottom: 0;
	right: 10rem;
	background: url(OVRLY.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	-webkit-filter: blur(2px);
	text-align: center;
	z-index:1400;
}

#videoOverlay2 {
	position:absolute;
	top: 0;
	left: 10rem;
	bottom: 0;
	right: 10rem;
	z-index:1450;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.65) 100%);
	display: flex;
	flex-direction:column;
    justify-content:center;
    align-content:center;
	cursor: pointer;
	font-size: 1.7rem;
}

#videoOverlay2 h2 {
	font-weight: 700;
	color: #0a0a0a;
}

.disappear {
	display: none;
	visibility: hidden;
}

@media (max-width:1100px) {
	#videoContainer {
		padding:0 5rem;
	}
	#videoOverlay1 {
		left: 5rem;
		right: 5rem;
	}
	#videoOverlay2 {
		left: 5rem;
		right: 5rem;
	}
	#videoOverlay2 h2 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (max-width:800px) {
	#videoContainer {
		padding:0;
	}
	#videoOverlay1 {
		left: 0;
		right: 0;
	}
	#videoOverlay2 {
		left: 0;
		right: 0;
		font-size: 0.7rem;
	}
}

html {
  scroll-behavior: smooth;
}﻿